.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 5%;

}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;

}
.awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
.s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}
.cards {
    position: relative;
}
.cards>*{
    position: absolute;
}
.cards-divs {
    /* margin-top: -10%; */
}

@media screen and (max-width: 440px) {
    .awesome {
        height: auto;
        margin-top: -50px;
    }
    .services{
        margin-top: 30%;
        margin-bottom: 50px;
        flex-direction: column;
        border: red;
        gap: 5rem;
        height: auto;
        padding: 0;
        margin-top: -20%;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin-top: -0%;
    }
    .cards>*{
        position: static;
    }
    .cards-divs {
        margin-top: -50%;
    }
    
}