.contact-form {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 15rem;
    height: auto;
}
.c-right {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-bottom: 120px;
    
    
}
.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.c-right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}
.textarea {
    height: 4rem!important;

}
.c-blur{
    top: 1rem;
    left: 8rem;

}

@media screen and (max-width: 440px) {
    .contact-form {
        display: flex;
        flex-direction: column;
        margin-top: 30rem; /* Set consistent margin */
        align-items: center;
        justify-content: center;
        height: auto; /* Allow height to adjust based on content */
    }
    .c-right {
        width: 100%;
        flex: none;
        margin-left: 0;
    }
    .c-right .user {
        width: 12rem;
    }
    .awesome {
        display: flex;
        margin-top: 50%; /* Adjust as needed */
    }
}
