.myworks-container {
    color: white;
    padding-left: 20px;
    padding-right: 10px;
}
.painting-div {
    transform: scale(0.5);
    margin-top: -10%;
    margin-left: -35%;
}
.project-dis-div {
    margin-top: -10%;
}
.pro-work-div {
    margin-top: -10%;
}
@media screen and (max-width: 440px) {
   .painting-div {
    transform: scale(0.4);
    margin-top: -40%;
    margin-left: -45%;
   }
   .painting-div {
    transform: scale(0.5);
    margin-top: -50%;
    margin-left: -65%;
}
.project-dis-div {
    margin-top: 60%;
    margin-bottom: 40%;
}
.pro-work-div {
    margin-top: 60%;
    margin-bottom: 40%;
}

}