.myworks-container {
    background-color: black;
    color: white;
    padding: 0 20px; /*Padding on sides, can be adjusted based on your design */
    margin: 0 auto;
    width: 100%;
    
}
.work-nav {
    position: fixed;
}
.painting-div img {
    transform: scale(0.5);
   margin-left: -15%;
   margin-top: -10%;
    
}